.signInContainer {
	position: absolute;
	z-index: 2;
	display: flex;
	width: 100%;
	flex-direction: column;
	transition: all 0.2s 0.7s;
	justify-content: center;
	align-items: center;
}

form.signInForm {
	background: rgb(255, 254, 254);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	width: 100%;
	border-radius: 5px;
	padding: 1.2em 1.5em 1.5em 1.5em;
}

.signUpMode .signInContainer {
	opacity: 0;
	z-index: 0;
}

@media screen and (max-width: 870px){
	.signInContainer {
		top: 22%;
	}

}