.EssentialFeildForm {
    background-color: #fcfcfc73;
    color: black;
    border-radius: 0.5em;
    height: 100%;
    padding: 1em 1em;
    margin-top: 1.5rem;
    width: 20%;
    min-width: 350px;
    margin-bottom: 2rem;
}


.EssentialFeildForm input[type=text] {
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0;
    margin-top : 7px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 0px solid black;
    background: white;
  }
.EssentialFeildForm input[type=text]:focus,input[type=text]:hover {
    transition: all 1s linear;
    border: none;
    border-color: transparent;
    outline: 0px;
  }
.EssentialFeildForm p,.Text span{
    margin: 10px 0;
}