.profile{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    /* align-items: center; */
    border-radius: 20px;
    background: rgba(255, 254, 254, 0.86);
    padding: 2em 0;
    padding-left: 2em;
    padding-right: 0em;
    width: 30%;
    max-width: 480px;
    min-width: 400px;
    min-height: 450px;
}
.profileContent input[type=text] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    /* margin-right: 5px; */
    margin-bottom: 1.2em;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0px solid black;
    background: white;
  }
.profileContent input[type=text]:focus,input[type=text]:hover {
    transition: all 1s linear;
    border: none;
    border-color: transparent;
    outline: 0px;
  }
.profileContent p,.profileContent input{
    display: block;
}
.heading{
    font-size: x-large;
    background: rgba(255, 254, 254, 0.86);
    padding: 1em 2em;
    border-radius: 10px;
    margin-bottom: 2em;
}