/* :{
    --div-display:none;
    box-sizing: border-box;
} */
/* .display{
    display: var(--div-display);
} */
.Question > button {
    display: none;
    }
    
.Question:hover > button {
    display: block;
}
.Question{
    padding: 0.5em 1em;
    padding-bottom: 0.5em;
    width: 100%;
    overflow-wrap: anywhere;
}
.Question p, .Question span .Question input{
    margin: 5px 0;
}

.Question button {
    cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    background: #3E4C59;
    padding: 10px 15px;
    color: #fff;
    border: 2px solid #fff;
    margin-right: 0.5em;
    margin-bottom: 0.1em;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
/* .btn-white{
    border:solid 2px #fff;
    background: transparent;
    color: #fff !important;
}
.btn-white:hover{
    border:solid 2px #fff;
    background: #fff;
    color: #1f1f1f !important;
}

.btn-dark,
input[type="submit"]{
    border:solid 2px #1f1f1f;
    background: transparent;
    color: #1f1f1f;
}
.btn-dark:hover,
input[type="submit"]:hover,
.btn-dark.active{
    border:solid 2px #1f1f1f;
    background: #1f1f1f;
    color: #fff;
}

.btn-color{
    background: transparent;
}
.btn-color:hover{
    color: #fff;
} */

.Button:hover {
    border:solid 2px #fff;
    background: #fff;
    color: #1f1f1f;
}
.Text input[type=text] {
    width: 100%;
    padding: 8px 10px;
    margin-top : 7px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 0px solid black;
    background: white;
  }
.Text input[type=text]:focus,input[type=text]:hover {
    transition: all 1s linear;
    border: none;
    border-color: transparent;
    outline: 0px;
  }
.Text p,.Text span{
    margin: 10px 0;
    background: #3E4C59;
}
.Text button{
    margin-top: 20px;
}
