
.EditButtonContent{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
.None{
    display: none;
}
.Text input[type=text]{
    width: 100%;
    padding: 8px 10px;
    margin-top : 7px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 0px solid black;
    background: white;
  }
.Text input[type=text]:focus,input[type=text]:hover {
    transition: all 1s linear;
    border: none;
    border-color: transparent;
    outline: 0px;
  }
.Text p,.Text span{
    margin: 10px 0;
}
.Text button{
    margin-top: 20px;
}
.Option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5em 0;
}
