.ParaAnswer {
  width: 85%;
  max-width: 900px;
}
@media screen and (max-width: 650px) {
  .ParaAnswer {
    width: 95%;
    min-width: 280px;
  }
}
@media screen and (max-width: 400px) {
  .ParaAnswer {
    width: 100%;
    min-width: 250px;
  }
}
