
.Button:disabled{
    background: #888c8f;
    color: #1f1f1f;
}
.Cancel {
   background-color: red; 
}
.Continue {
    background-color: green; 
 }

.Disabled {
    background-color: #ccc;
    cursor: not-allowed;
}