.Button{
    cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    background: #3E4C59;
    padding: 10px 15px;
    color: #fff;
    border: 2px solid #fff;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.Button:hover {
    border:solid 2px #fff;
    background: #fff;
    color: #1f1f1f;
}
.Button:disabled{
    background: #888c8f;
    color: #1f1f1f;
}
.Cancel {
   background-color: red; 
}
.Continue {
    background-color: green; 
 }

.Disabled {
    background-color: #ccc;
    cursor: not-allowed;
}