@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 7px;
    height: 0px;
}

::-webkit-scrollbar-track{
   border-radius: 7px;
   background: transparent;
}

::-webkit-scrollbar-thumb{
   border-radius: 7px;
   background: hsla(0,0%,67.1%,.5);
}

body {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	background-image: radial-gradient(#dd4e6d 0.85px, transparent 0.85px),
		radial-gradient(#dd4e6d 0.85px, #ffffff 0.85px);
	background-size: 34px 34px;
	background-position: 0 0, 17px 17px;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
}

