.Wrapper {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  padding: 1em;
}
.Content {
  background: #cbd2d9;
  padding: 4em 5em;
  margin: 2em auto;
  border-radius: 8px;
  align-self: center;
  justify-self: center;
}
.Content h1 {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .Content {
    padding: 2em 3em;
  }
}

@media screen and (max-width: 430px) {
  .Content {
    width: 95%;
    padding: 1em;
  }
  .Content h1 {
    font-size: 1.8rem;
    font-weight: 500;
  }
}
